.background-blue{
  background-color: blue;
  height: 200px;
  width: 100%;
}
.bck-card{
  width: 90%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 6px 0 hsla(0,0%,54%,.25);
  background-color: white;
  .tab-on{
    margin-top: -65px;
    padding: 20px;
    background-color: white;
  }
}

.app-bck{
  background-color: #f5f8f9;
}

#card-book-a{
  margin-top: 18em;
  .card-ticket{
    padding-top: 5em;
    .card-ticket-padding{
      padding: 20px;
    }
  }
  .card-book-ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
}